
/* Custom footer tagline below logo (local) */
.elementor-577 .elementor-element.elementor-element-3bb9854 .elementor-widget-container::after {
	content: "Transformamos conexões em \A oportunidades para o seu e-commerce.";
	white-space: pre-line;
	color: #FFFFFF;
	display: block;
	margin-top: 12px;
	font-size: 18px;
	max-width: 420px;
	line-height: 1.3;
}